<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    <script type="application/javascript" src="~/Scripts/jquery-3.2.1.js"></script>    
    <script type="application/javascript" src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/knockout-3.4.2.debug.js"></script>
    @*<link rel="stylesheet" href="css/bootstrap.min.css" />*@
    @RenderSection("scripts", required: false)
    <style type="text/css">
        div#mypage {
            margin-left: 150px;
        }
        body{
            padding-top:0px;
        }
        .pagediv {
            padding-left: 0px;
            padding-right: 0px;
        }

        #mysearch {
            width: 150px;
            margin-top: 0px;
            position: absolute;
            z-index: 1;
            height: 100%;
            /*设置右侧导航栏填满屏幕*/
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" style="margin-bottom: 0px;">
        <div class="navbar-header" id="my_navbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">网站后台管理</a>
        </div>
        <!--需要使用无序列表并嵌套在nav中-->
        <!--向右对齐使用navbar-right-->
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
            <!--加入徽章效果-->
            <li class="active">
                <a href="#"> <span class="badge" style="background:deepskyblue">23</span></a>
            </li>
            <li>
                <a href="#"><span class="badge" style="background:lawngreen"></span>注销</a>
            </li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
